
.sidebar {

    margin-left: 1%;
    margin-top: 1rem;
}

header {

    color: aliceblue;
    margin-top: 1%;
}

.enter {

     width: 85%;
}

.currentday {

    visibility: hidden;
}

body {

    font-family: 'Roboto', sans-serif;
    margin-bottom: 24%;
}

.clear {
    margin-top: 1rem;
    width: 100%;
    
}

body {
  max-height: 100%;
  background-color: black;
}

.cities {
    margin-bottom: 1rem;
    margin-left: 10%;
    width: 80%;

}

#dayscontainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1%;
}

#closealert {

    margin-left: 20px;
}

.alert-danger{

    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-left: 37%;
}

